@font-face {
    font-family: "Univers LT Std 57 Condensed";
    src: url("https://db.onlinewebfonts.com/t/7c631010b431b2d84c8a7229a9e64705.eot");
    src: url("https://db.onlinewebfonts.com/t/7c631010b431b2d84c8a7229a9e64705.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7c631010b431b2d84c8a7229a9e64705.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7c631010b431b2d84c8a7229a9e64705.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7c631010b431b2d84c8a7229a9e64705.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7c631010b431b2d84c8a7229a9e64705.svg#Univers LT Std 57 Condensed")format("svg");
}


.hero-section {
    font-family: 'Univers LT Std 57 Condensed', sans-serif;
    display: flex;
    height: 100vh; 
    background: url('C:\Users\janvi\caterpillar\src\assets\HeroBackground.png') no-repeat center center;
  }
  
  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-size: cover;
    /* padding: 2rem; */
  }
  
  .left-image {
    max-width: 100%;
    height: auto;
  }
  
  .get-started-button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: #F7C710; 
    color: #000;
    border: 3px solid black;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .get-started-button:hover {
    transform: translateY(-3px);
  }
  
  .hero-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
  }
  
  .right-image {
    height: 100%;
    width: auto; 
  }
  